*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    border: 5px solid red;
    margin: 50px;
    padding: 50px;
    background-color: yellow;
}
h2{
    color: blue;
    font-size: 16px;
}
div{
    border: 2px solid blueviolet;
    height: 300px;
    width: 300px;
    background-color: aquamarine;
}